@font-face { font-family: Montserrat; src: url('fonts/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-SemiBold; src: url('fonts/Montserrat-SemiBold.ttf'); }

body{
	margin:0px;
	display: flex;
	flex-direction: row;
	flex-flow: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-image: url(assets/index_page/fundo_rosa.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}



/*Side Nav*/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}




/*Round bars*/
.down_bar{
    background-color:white; 
    position:fixed; 
    bottom:0;
    width:100%;
    height:25px;
    z-index:6;
}

.right_bar{
    background-color:white; 
    position:fixed; 
    top:0;
    right:0;
    height:100%;
    width:25px;
    z-index:6;
}

.top_bar{
    background-color:white; 
    position:fixed; 
    top:0;
    width:100%;
    height:25px;
    z-index:6;
}

.left_bar{
    background-color:white; 
    position:fixed; 
    top:0;
    right:0;
    height:100%;
    width:125px;
    z-index:7;
}




/* conteúdo da barra lateral esquerda */
.logo{
    background-image:url(assets/index_page/logo_icone.png);
    height:37px;
    width:78px;
    margin:auto;
    top:0;
}

.textolateral{
    /*background-image:url(https://i.imgur.com/BhST8Xj.png);*/
    width:20%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}




/*menu*/
.menu{
    display:none;
    background-color:white; 
    position:fixed; 
    margin-left:0px;  /*125*/
    padding-left:125px;
    bottom:0;
    width:100%;
    height:90px;
    z-index:5;
}

.menu_content{
    display:flex;
    flex-direction:row;
    width:100%;
    height:90px;
}

.w3-card-4,.w3-hover-shadow:hover{
    box-shadow:0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0)}
 

.menu_icon{
    background-image:url(assets/index_page/menu_hamburguer.png);
    height:39px;
    width:44px;
    margin-bottom:30px; /*30px*/
    margin-left:41px;
    z-index:7;
    position:fixed;
    bottom:0;
}

.menu_icon:hover{
    background-image:url(assets/index_page/menu_rosa.png);
}

.menu_icon.active{
    background-image:url(assets/index_page/menu_rosa.png);
}

.menu_icon.active:hover{
    background-image:url(assets/index_page/menu_hamburguer.png);
}

.insta_icon{
    margin:auto;
    margin-right:0px;
    height:37px;
    width:38px;
    background-image:url(assets/index_page/insta_rosa.png);

}

.insta_icon:hover{
    background-image:url(assets/index_page/insta_azul.png);
}

.mail_icon{
	margin: auto;
	margin-left:50px;
    height:37px;
    width:49px;
    background-image:url(assets/index_page/mail_rosa.png);
}

.mail_icon:hover{
    background-image:url(assets/index_page/mail_azul.png);
}

   
.text_menu{
    color:#F15F79;
    font-family: Montserrat-SemiBold;
	font-size: 20px;
	margin: auto;
	text-decoration: none;
}

.text_menu a{
    text-decoration: none;
}

.text_menu:hover{
    color:#47508D;
}









/*Main Content*/
/*.main {
    margin-left: 275px; /* Same as the width of the sidenav 
    font-size: 28px; /* Increased text to enable scrolling 
    padding-left: 20px;
    padding-right:556px;
    margin-top:100px;
}*/

.main{
    height:100%;
    width:100%;
    margin-top:105px;
    margin-left: 260px;
	margin-bottom: 30px;
    margin-right:30px;
}


	


/* Add animation to "page content" */
.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { opacity:0 } 
  to { opacity:1 }
}

@keyframes animatebottom { 
  from{ opacity:0 } 
  to{ opacity:1 }
}

#myDiv {
  display: none;
}



#loader {
  z-index: 1;
background-size: 100% auto;
height:100vw;
width:100vw;
background-repeat: no-repeat;
}



.main_text{
	font-family: Montserrat-SemiBold;
	font-size: 28px;
	line-height: 37px;
	color: #47508D;
	text-decoration: none;
}

.main_text:hover{
	color: #F15F79;
}

.text_in_main {
	width:600px;
}




@media screen and (max-width:480px) {}

